html{
  font-family: "Century Gothic", serif;
}

.bold-text{
  font-weight: bold;
}

.wrapper{
  margin-left: 10%;
  margin-right: 10%;
}

.list{
  list-style: none;
}

.sub-list{
  list-style: disc;
}
